/*	################################################################
	1. GENERAL STRUCTURES
################################################################# */
* { 
	margin: 0;
	padding: 0px;
} 

body { 
	background: #ffffff; 
	margin: 0; 
	height: 100%; 
	color: #000;
	font-family: arial, sans-serif;
	font-weight: 400;
	}

h1, h2, h3, h4, h5, h6 {
	font-family: arial, sans-serif;
	font-weight: 400;
	line-height: 1.2;
}

h1 {
	margin-bottom: 60px;
}

p { 
	padding: 0; 
	margin-bottom: 12px; 
	font-family: arial, sans-serif;
	font-weight: 400;
	font-size: 16px; 
	line-height: 24px; 
	margin-top: 10px; 
}

img {
	height: auto;
	max-width: 100%;
}

a { 
	color:black;
	padding: 0;
	margin: 0;
	text-decoration: none; 
	-webkit-transition: background-color .4s linear, color .4s linear;
	-moz-transition: background-color .4s linear, color .4s linear;
	-o-transition: background-color .4s linear, color .4s linear;
	-ms-transition: background-color .4s linear, color .4s linear;
	transition: background-color .4s linear, color .4s linear;
}

a:hover, a:focus {
  text-decoration: none;
  color:#9B9B9B;
}

.button-dark:hover, .button-dark:focus, .button-dark:active {
  text-decoration: none;
  color:#fff;
  background-color: #9b9b9b;
}
      
.button-border.button-plain:hover, .button-border.button-plain:focus {
  text-decoration: none;
  color:#000;
  background-color: #fff;
}

.films a:hover,
a:focus {
  text-decoration: none;
  color:#000;
}

::-moz-selection  {
	color: #fff;
	text-shadow:none;
	background:#1FBAD6;
}
::selection {
	color: #fff;
	text-shadow:none;
	background:#1FBAD6;
}

.centered {
	text-align: center
}
   

/*	################################################################
	BOOTSTRAP MODIFICATIONS & TWEAKS
################################################################# */
.navbar {
	min-height: 80px;
	height: 80px;
	padding-top: 8px;
	margin-bottom: 0px;
	border-radius: 0px;
}

.navbar-white .navbar-default {
	background-color: #FFF;
	border-bottom:#ccc 1px solid;
}

.navbar-white .navbar-default .navbar-nav > li > a {
	color: #9B9B9B;
}
 
.navbar-white .navbar-default .navbar-nav > .active > a,
.navbar-white .navbar-default .navbar-nav > .active > a:hover,
.navbar-white .navbar-default .navbar-nav > .active > a:focus {
	color: #000;
	background-color: transparent;
}

.navbar-white .navbar-default .navbar-nav > .active > a,
.navbar-white .navbar-default .navbar-nav > .active > a:hover,
.navbar-white .navbar-default .navbar-nav > .active > a:focus {
	color: #000;
	background-color: transparent;
}

.navbar-header .navbar-brand {
	color: white;
}

.navbar-default .navbar-nav > li > a {
	color: white;
	font-size: 14px;
	line-height: 28px;
	padding:20px 25px;
}

.navbar-default .navbar-nav > li > a:hover {
	color: #9b9b9b;
}

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
	color: #ffffff;
	background-color: transparent;
}



.navbar-default {
	background-color: transparent;
	border-color: transparent;
}

.navbar-toggle {
  border: none;
  background: transparent !important;
  margin-top: 12px;
}
.navbar-toggle:hover {
  background: transparent !important;
}
.navbar-toggle .icon-bar {
  width: 22px;
  transition: all 0.3s;
  background-color: #FFF !important;
}
.navbar-white .navbar-toggle .icon-bar {
  width: 22px;
  transition: all 0.3s;
  background-color: #000 !important;
}
.navbar-toggle .icon-bar+.icon-bar {
    margin-top: 4px;
}
.navbar-toggle .top-bar {
  transform: rotate(45deg);
  transform-origin: 10% 10%;
}
.navbar-toggle .middle-bar {
  opacity: 0;
}
.navbar-toggle .bottom-bar {
  transform: rotate(-45deg);
  transform-origin: 10% 90%;
}
.navbar-toggle.collapsed .top-bar {
  transform: rotate(0);
}
.navbar-toggle.collapsed .middle-bar {
  opacity: 1;
}
.navbar-toggle.collapsed .bottom-bar {
  transform: rotate(0);
}

.navbar-collapse {
	padding:0;
}

.collapsing {
    position: absolute;
    right: 40px;
    top: 80px;
    background: #fff;
    width: 90%;
    visibility: visible;
    opacity: 1;
    z-index: 9999;
    border-top: 3px solid #1FBAD6;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: all 0.1s;
}


.collapse.in {
    position: absolute;
    right: 40px;
    top: 80px;
    background: #fff;
    width: 90%;
    visibility: visible;
    opacity: 1;
    z-index: 9999;
    border-top: 3px solid #1FBAD6;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: all 0.1s;
}

.collapse.in  li  a {
	color: #000;
	text-align: left;
}

/* 导航下拉隐藏 */
.headroom {transition: all .2s ease-in-out;}  
.headroom--unpinned {top: -30px; }  
.headroom--pinned {top: 0px;} 
	    
.dropdown-menu {
	background: #384452;
}

.dropdown-menu > li > a {
	color: white;
	text-align: center;
	padding: 1em 0;
}

.btn-theme {
  color: #fff;
  background-color: #384452;
  border-color: #384452;
  margin: 4px;
}
.btn-theme:hover,
.btn-theme:focus,
.btn-theme:active,
.btn-theme.active,
.open .dropdown-toggle.btn-theme {
  color: #fff;
  background-color: #00b3fe;
  border-color: #00b3fe;
}

.navbar-nav {
	margin: 0;
}
.navbar-default .navbar-nav>.open>a, 
.navbar-default .navbar-nav>.open>a:focus, 
.navbar-default .navbar-nav>.open>a:hover {
	color: #9b9b9b;
	background-color: transparent;
}


/* fold */

#fold {

	background: url(../images/pic-large.jpg) no-repeat center top;
	margin-top: 0px;
	padding-top:0px;
	text-align:center;
	background-attachment: relative;
	background-position: center center;
	min-height: 720px;
	
    -webkit-background-size: 100%;
    -moz-background-size: 100%;
    -o-background-size: 100%;
    background-size: 100%;

    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

        
#fold h3 {
	font-size: 1.5em;
	line-height: 3em; 
	color: #fff;
	margin-top: 50px;
	margin-bottom: 50px;
}

#fold .img-responsive {
	margin: 0 auto;
}
        
#fold p {
        font-weight: 100;
        padding: 0 25px;
        font-size: 15.58px;
        color: #aaaaaa; }

            
#fold #siren {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 20px;
    text-align: center;
    pointer-events: none; }
    
#fold .arrow {
	position: relative;
	display: inline-block;
	width: 61px;
	height: 30px;
	border-radius: 50%;
	overflow: hidden; }
  
#fold .arrow:after {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: url(../images/arrow-large.png) center center no-repeat;
	content: "";
	-webkit-animation: roulette 5s cubic-bezier(0.075, 0.82, 0.165, 1);
	-moz-animation: roulette 5s cubic-bezier(0.075, 0.82, 0.165, 1);
	animation: roulette 5s cubic-bezier(0.075, 0.82, 0.165, 1);
	-webkit-animation-iteration-count: infinite;
	-moz-animation-iteration-count: infinite;
	animation-iteration-count: infinite; }
    
#fold .arrow p {
	font-weight: 100;
	letter-spacing: 2px;
	font-size: 9.5px;
	text-transform: uppercase;
	color: #fff; }

.header-back.one {
    background: url('../images/pic-large.jpg') 50% 0 no-repeat;
}
       	
#solutions {
      position: relative;
      text-align: center;
      opacity: 1;
      -webkit-transition: opacity 0.35s cubic-bezier(0.785, 0.135, 0.15, 0.86);
      -moz-transition: opacity 0.35s cubic-bezier(0.785, 0.135, 0.15, 0.86);
      transition: opacity 0.35s cubic-bezier(0.785, 0.135, 0.15, 0.86);
      background-position: center center;
      background-size: cover; 
}


.img-responsive {
	margin: 0 auto;
}

#solutions div.col-md-4 {
	padding: 20px 20px 0;
}
   
#solutions .img-responsive {
	margin: 0 auto;
}
 
#solutions h3 {
	color: #8d8d8d; 
}

#solutions p {
	padding: 10px 0;
	color: #8d8d8d; 
}
		
#broadcast {
	color:#FFF;
}

#films {
	position: relative;
	text-align: center;
	background: #101421;
	color: #fff; 
	padding：50px 0;
}

#films .gallery {
    position: relative;
    list-style: none;
    max-width: 900px;
    margin: 0 auto 50px;
    text-align: center;
}

#films .gallery li {
    display: inline-block;
    width: 49%;
    margin:0;
    padding:0;
    margin-bottom: 50px;
    vertical-align: top;
}

#films .gallery p {
	font-size: 85%;
    color: #fff;
}

#films .gallery li a {
    position: relative;
    display: block;
    margin: 0 25px;
    text-decoration: none;
}
    

#films .gallery li div.thumbnail {
	position: relative;
	width: 100%;
	margin:0 auto 12.5px;
	background-size: cover;
	background-color: transparent;
	border: none;
	border-radius:0px; 
}

#films .gallery li div.thumbnail div.duration {
  color: #fff;
  position: absolute;
  left: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.85);
  font-weight: 100;
  padding: 4.75px 19px;
  font-size: 12.54px; }
  
#films .gallery li div.thumbnail:after {
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
  pointer-events: none;
  background: rgba(0, 0, 0, 0.9) url(../images/play360-cta.svg) center center no-repeat;
  background-size: contain;
  content: "";
  -webkit-transition: opacity 0.75s cubic-bezier(0.075, 0.82, 0.165, 1);
  -moz-transition: opacity 0.75s cubic-bezier(0.075, 0.82, 0.165, 1);
  transition: opacity 0.75s cubic-bezier(0.075, 0.82, 0.165, 1); 
}
  
#films .gallery li p {
text-align: left;
text-decoration: none; }

#films .gallery li p.title {
font-size: 85%;
color: #fff;
text-transform: capitalize; }

#films .gallery li p.date {
color: #9a979b;
font-style: italic;
font-weight: 300; }

.film:hover div.thumbnail:after {
opacity: 1; }

        
    #news {
      position: relative;
      background: #f2f2f2;

      padding: 25px 0;
      font-size: 16px; }
	
	
      #news div.partners p.title {
        max-width: 75%;
        color: #484848;
        margin: 12.5px auto 0;
        font-size: 28.5px;
        line-height: 31.25px;
        }
      #news div.partners p.description {
        margin: 25px auto;
        color: #a1a1a1;
        font-weight: 300; }
      #news div.partners div.entities {
        margin: 50px auto;
        width: 66%;
        height: 75px;
        background: url(/images/partners.png) center center no-repeat;
        background-size: contain; }
        
    #footer {
      background: #373A40;
      position: relative;
      color: #fff;
      padding: 25px 0;
      font-size: 18px;
      text-align: center;
      font-weight: 100; }
      #footer a {
        text-decoration: none; }
        #footer a .vrse-works {
          display: inline-block;
          width: 200px;
          height: 38.5px;
          margin: 25px 0 0;
          background: url(../images/vrse-works.png) center center no-repeat;
          background-size: 100%;
          content: ""; }
.pill {
  padding: 9.5px 19px;
  text-transform: uppercase;
  font-weight: 100;
  letter-spacing: 2px;
  font-size: 9.5px;
  border: 1px solid #fff;
  color: #fff;
  font-family: "proxima-nova", sans-serif;
  border-radius: 19px;
  background: transparent;
  cursor: pointer; }

/*	################################################################
	FOR NEWS.HTML
################################################################# */
.left-img{
	display: inline;
    float: left;
    margin-right: 10px;
    position: relative;
}

.right-header{
	display: inline;
	float:right;
}

/*	################################################################
	FOR CAPTURE.HTML
################################################################# */

.top-area h1{
	margin-bottom: 30px;
}
